# Ignore everything by default
*

# Re-include required project files
!README.md
!pyNote.py
!LICENSE
!.gitignore
!index.html
!style.css
!script.js

# Re-include GitHub Actions
!/.github/
!/.github/**

# Never upload macOS metadata
.DS_Store